/* Seperate the body and background */
body {
    background-color: #ffd300;
    font-family: sans-serif;
    padding: 20px;
}

.front-page {
    width: 90%;
    background-color: white;
    padding: 10px;
    margin: auto;
}

.title {
    text-align: center;
}
.logo {
    text-align: center;
}